<h3 style="text-align:center; font-family: Verdana">
  Roxelly Tavares | RA: 0050831811029
</h3>
<h3 style="text-align:center; font-family: Verdana">Temporizador:</h3>
<h3 style="text-align:center; font-family: Verdana">{{ timer.getCount() }}</h3>
<div style="margin-left:110px">
  <button (click)="timer.start(1000)">Iniciar</button>
  <button (click)="timer.stop()">Parar</button>
</div>
<h3 style="text-align:center; font-family: Verdana">Tarefas:</h3>
<div style="margin-left:80px">
  <input type="text" />
  <button (click)="tasks.add(input.value)">Adicionar</button>
</div>
